<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KFC Home</title>
</head>

<body>
    <!-- Header Section -->
    <header>
        <div class="logo">
            <img src="kfc-logo.png" alt="KFC Logo">
        </div>
        <nav>
            <a href="dashboard">Dashboard</a>
            <a href="home">Home</a>
            <a href="about">About</a>
        </nav>
    </header>

    <!-- Router Outlet for Angular Content -->
    <router-outlet></router-outlet>

    <!-- Footer Section -->
    <footer>
        <div class="footer-content">
            <p>&copy; Developed bY naveenkumar</p>

        </div>
    </footer>
</body>

</html>